* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.food-Table {
  border: 2px solid;
  border-collapse: collapse;
  text-align: center;
}

td {
  border: 2px solid;
  border-collapse: collapse;
  padding: 15px;
  text-align: left;
}

th {
  border: 2px solid;
  border-collapse: collapse;
  padding: 15px;
  text-align: left;
  background-color: #7304aa;
  color: black;
}

tr:hover {background-color: rgb(219, 228, 95);}

/* tr:nth-child(even) {background-color: #aa24a6;} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
margin: auto;
text-align: center;
}

h1 {
  margin: 0.5rem 0;
  font-size: 30px;
  text-align: center;
}

h2 {
  margin: 0.5rem 0;
  font-size: 100px;
  text-align: center;
}

header { 
  background-color: rgba(8, 8, 115, 0.711);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

li {
  display: inline;
}

button {
  background: #9e23ba;
  background-image: -webkit-linear-gradient(top, #9e23ba, #3db82b);
  background-image: -moz-linear-gradient(top, #9e23ba, #3db82b);
  background-image: -ms-linear-gradient(top, #9e23ba, #3db82b);
  background-image: -o-linear-gradient(top, #9e23ba, #3db82b);
  background-image: linear-gradient(to bottom, #9e23ba, #3db82b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #9e23ba;
  padding: 10px 20px 10px 20px;
  border: solid #9e23ba 2px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

main {
  margin: 0 auto;
  width: 90vw;
}

.card {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: rgb(3, 52, 143);
}
/* 
.card img {
  width: 100%; 
}*/


form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

form input {
  width: 100%
}

img {
  width: 20%;
  height: auto;
}

