body {
  margin: 20px;
  font-family: 'Helvetica Neue',
    sans-serif;
}

div {
margin: auto;
text-align: center;
}

p {
  margin: 0.5rem 0;
  font-size: 20px;
  text-align: justify;
}

#about {
  border: 3px solid #4CAF50;
}

h1 {
  color:#3db82b;
  margin: 0.5rem 0;
  font-size: 100px;
  text-align: center;
}

h2 {
  color:#3db82b;
  margin: 0.5rem 0;
  font-size: 50px;
  text-align: center;
}

header { 
  background-color: rgba(8, 8, 115, 0.711);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

li {
  display: inline;
}

main {
  margin: 0 auto;
  width: 90vw;
}

img {
  width: 30%;
  height: auto;
}

